<%- include('./common/header') %>

<div style="margin-left:10%;margin-right:10%;margin-top:50%">
  <form method="get" action="./matching">
    <input type="submit" value="対局画面へ" style="width:100%;padding:10px;font-size:30px;"></input>
  </form>
</div>



<%- include('./common/footer') %>