<%- include('./common/header') %>

<div class="top">

  <div class="curtain">
    <div class="curtain__wrapper">
      <input type="checkbox" checked>
      
      <div class="curtain__panel curtain__panel--left">
        <img src="/images/parts/door_left2.png" width="100%">
      </div> <!-- curtain__panel -->
      
      <div class="curtain__content">

      </div>
      
      <div class="curtain__panel curtain__panel--right">
        <img src="/images/parts/door_right2.png" width="100%">
      </div> <!-- curtain__panel -->
      
    </div> <!-- curtain__wrapper -->
  </div> <!-- curtain -->

</div>

<%- include('./common/menu') %>
<%- include('./common/footer') %>