body {
  width: 100%;
  height:auto;
  margin:0px;
  padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  margin: 0ex;
  padding: 0px;
}

a {
  color: #00B7FF;
}

p {
  margin:0;
}