<div id="character">

</div>


<script>

var character = new Image();    //新規画像オブジェクト
character.src = "../images/parts/planet/character.png";
character.onload = function(e){
    ctx.drawImage(character, 240, 160);
}

</script>