<div id="map">
    <div id="island_1"></div>

</div>


<script>

var img = new Image();    //新規画像オブジェクト
img.src = "../images/parts/planet/island_1.png";
img.onload = function(e){
    ctx.drawImage(img, 10, 10);
}

</script>