<!DOCTYPE html>  
<html>  
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script type="text/javascript" src="javascripts/main.js"></script>

    <script type="text/javascript" src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    <script type="text/javascript" src="https://code.createjs.com/1.0.0/tweenjs.min.js"></script>
    <script type="text/javascript" src="https://code.createjs.com/1.0.0/soundjs.min.js"></script>
    <script type="text/javascript" src="https://code.createjs.com/1.0.0/preloadjs.min.js"></script>
    
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
    <!-- header scripts -->
  </head>
  <body>