#planet_page{
    .canvas-container{
        #main_canvas{
            background-image: linear-gradient( #F6EBFF, #FCFAD9);
        }
        #map{
            #island_1{
                
            }
        }
        #message{
            .message-back{
                position: fixed;
                bottom: 500px; /* 固定する位置 */
                left: 0; /* 固定する位置 */
                right: 0;  /* 固定する位置 */
                width: 100%;
                height: 100px;
                background: #333;
                .message-icon{
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    left: 0;
                    border: 1px solid #fff;
                }
                .message-text{
    
                }
                .message-answer{
    
                }
            }
        }
    }
}